.full-space {
  height: 100vh;
}
.borde {
  padding: 10px;
  background-color: rgb(253, 220, 220);
}
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
/*
.site-layout .site-layout-background {
  background: #fff;
}
*/

.tag {
  padding-top: 5px;
  padding-bottom: 5px;
}

.centrado-filas {
  justify-items: center;
  align-items: center;
  margin: 0 auto;
}

.botones {
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 5px;
  cursor: pointer;
}
.equipo {
  margin: 0;
  margin-left: 10px;
}
/*
.site-layout .site-layout-background {
  background: #4a5568;
}

.ant-layout-content {
  background: #e2e8f0;
}

.ant-layout .site-layout {
  background: #e2e8f0;
}

.site-layout-background .ant-input {
  background: #000;
  border-color: #1a202c;
  color: white;
}

.ant-divider .ant-divider-horizontal .ant-divider-with-text::before {
  border-top: 1px solid rgba(255, 255, 255, 1);
}
*/
